In [12]:
import scipy
import pandas as pd

In [ ]:
# NBADataLoader:

In [13]:
sport = pd.read_csv(r'C:\Users\13176\Desktop\2026 Classes\Information Infrastructure II\HW\HW04\players_stats_by_season_full_details.csv')
sport.head()
# Filter the data to include only regular_season games.

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,birth_date,height,height_cm,weight,weight_kg,nationality,high_school,draft_round,draft_pick,draft_team
0,NBA,1999 - 2000,Regular_Season,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,...,"Mar 6, 1972",7-1,216.0,325.0,147.0,United States,Robert G. Cole High School,1.0,1.0,Orlando Magic
1,NBA,1999 - 2000,Regular_Season,Vince Carter,TOR,82,3126.0,788,1696,95,...,"Jan 26, 1977",6-6,198.0,220.0,100.0,United States,Mainland High School,1.0,5.0,Golden State Warriors
2,NBA,1999 - 2000,Regular_Season,Karl Malone,UTA,82,2947.0,752,1476,2,...,"Jul 24, 1963",6-9,206.0,265.0,120.0,United States,Summerfield High School,1.0,13.0,Utah Jazz
3,NBA,1999 - 2000,Regular_Season,Allen Iverson,PHI,70,2853.0,729,1733,89,...,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School,1.0,1.0,Philadelphia Sixers
4,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,"Jul 23, 1968",6-4,193.0,180.0,82.0,United States,Skyline High School,1.0,2.0,Seattle SuperSonics

In [14]:
sport_reg = sport[sport['Stage'] == 'Regular_Season']
sport_reg
# This filter is to ensure that we are only analyzing regular season data, and then perform calculation on the player who has played the most regular seasons.

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,birth_date,height,height_cm,weight,weight_kg,nationality,high_school,draft_round,draft_pick,draft_team
0,NBA,1999 - 2000,Regular_Season,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,...,"Mar 6, 1972",7-1,216.0,325.0,147.0,United States,Robert G. Cole High School,1.0,1.0,Orlando Magic
1,NBA,1999 - 2000,Regular_Season,Vince Carter,TOR,82,3126.0,788,1696,95,...,"Jan 26, 1977",6-6,198.0,220.0,100.0,United States,Mainland High School,1.0,5.0,Golden State Warriors
2,NBA,1999 - 2000,Regular_Season,Karl Malone,UTA,82,2947.0,752,1476,2,...,"Jul 24, 1963",6-9,206.0,265.0,120.0,United States,Summerfield High School,1.0,13.0,Utah Jazz
3,NBA,1999 - 2000,Regular_Season,Allen Iverson,PHI,70,2853.0,729,1733,89,...,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School,1.0,1.0,Philadelphia Sixers
4,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,"Jul 23, 1968",6-4,193.0,180.0,82.0,United States,Skyline High School,1.0,2.0,Seattle SuperSonics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51971,NBA,2019 - 2020,Regular_Season,Matt Dellavedova,CLE,57,820.7,62,175,21,...,"Sep 8, 1990",6-4,193.0,200.0,91.0,Australia,Australian Institute of Sport,NaN,NaN,NaN
51972,NBA,2019 - 2020,Regular_Season,Goga Bitadze,IND,54,471.3,70,150,8,...,"Jul 20, 1999",6-11,211.0,245.0,111.0,Georgia,NaN,1.0,18.0,Indiana Pacers
51973,NBA,2019 - 2020,Regular_Season,Nassir Little,POR,48,572.5,65,151,14,...,"Feb 11, 2000",6-6,198.0,220.0,100.0,United States,Orlando Christian Prep High School,1.0,25.0,Portland Trail Blazers
51974,NBA,2019 - 2020,Regular_Season,David Nwaba,BRK,20,268.5,37,71,12,...,"Jan 14, 1993",6-4,193.0,219.0,99.0,United States,University City High School,NaN,NaN,NaN
51975,NBA,2019 - 2020,Regular_Season,Al-Farouq Aminu,ORL,18,380.1,25,86,9,...,"Sep 21, 1990",6-9,206.0,220.0,100.0,United States / Nigeria,Norcross High School,1.0,8.0,Los Angeles Clippers

In [15]:
# Printing out the names of the columns within the dataset.
print(sport_reg.columns)

Index(['League', 'Season', 'Stage', 'Player', 'Team', 'GP', 'MIN', 'FGM',
       'FGA', '3PM', '3PA', 'FTM', 'FTA', 'TOV', 'PF', 'ORB', 'DRB', 'REB',
       'AST', 'STL', 'BLK', 'PTS', 'birth_year', 'birth_month', 'birth_date',
       'height', 'height_cm', 'weight', 'weight_kg', 'nationality',
       'high_school', 'draft_round', 'draft_pick', 'draft_team'],
      dtype='object')

In [16]:
# Next determine determine the player who has played the most regular seasons.
most_seasons = sport_reg.groupby('Player')['Season'].nunique().idxmax()
most_seasons

'Vince Carter'

In [30]:
# PlayerSeasonAnalyzer:

In [17]:
# Then calculate three point accuracy of Vince Carter for each season played.

vince = sport_reg[sport_reg['Player'] == 'Vince Carter']
threepoint_accuracy = vince['3PM'] / vince['3PA'] * 100
vince = vince.assign(ThreePointAccuracy=threepoint_accuracy)
vince[['Player','Season', 'ThreePointAccuracy']]

             Player       Season  ThreePointAccuracy
1      Vince Carter  1999 - 2000           40.254237
509    Vince Carter  2000 - 2001           40.806045
1047   Vince Carter  2001 - 2002           38.658147
2761   Vince Carter  2003 - 2004           38.271605
4114   Vince Carter  2004 - 2005           40.575080
5333   Vince Carter  2005 - 2006           34.059946
6548   Vince Carter  2006 - 2007           35.697941
7961   Vince Carter  2007 - 2008           35.897436
9267   Vince Carter  2008 - 2009           38.520408
10608  Vince Carter  2009 - 2010           36.728395
11920  Vince Carter  2010 - 2011           36.137072
14813  Vince Carter  2011 - 2012           36.097561
18772  Vince Carter  2012 - 2013           40.601504
22921  Vince Carter  2013 - 2014           39.353100
27000  Vince Carter  2014 - 2015           29.741379
35443  Vince Carter  2016 - 2017           37.837838
40190  Vince Carter  2017 - 2018           34.545455
45213  Vince Carter  2018 - 2019           38.924051
51949  Vince Carter  2019 - 2020           30.198020

In [18]:
# Perform a linear regression for Vince's three point accuracy across the years played.
x = vince['Season'].str[:4].astype(int)
y = vince['ThreePointAccuracy']
slope, intercept, r_value, p_value, std_err = scipy.stats.linregress(x, y)
print(f"Slope: {slope}, Intercept: {intercept}, R-squared: {r_value**2}")

Slope: -0.2517415691325922, Intercept: 542.757073405677, R-squared: 0.23386055715936038

In [19]:
# Then create a line of best fit for the linear regression.
best_fit = slope * x + intercept
best_fit_df = pd.DataFrame({'Season': x, 'BestFit': best_fit})
best_fit_df.head()

      Season    BestFit
1       1999  39.525677
509     2000  39.273935
1047    2001  39.022194
2761    2003  38.518710
4114    2004  38.266969

In [20]:
# Calculate the average three point accuracy by integrating the fit line over the played seasons and dividing by the number difference in played seasons (latest season - earliest season).
average_accuracy = best_fit_df['BestFit'].mean()
print(f"Average Three Point Accuracy: {average_accuracy:.2f}%")
# Mean Value Theorem of Integrals (MVT).
average_accuracy_MVT  = average_accuracy = best_fit_df['BestFit'].mean() / (best_fit_df['Season'].iloc[-1] - best_fit_df['Season'].iloc[0])

print(f"Average Three Point Accuracy using MVT: {average_accuracy_MVT:.2f}%")

Average Three Point Accuracy: 37.00%
Average Three Point Accuracy using MVT: 1.85%

In [ ]:
# Since Vince did not participate in the 2002-2003 and 2015-2016 seasons, we uses interpolation to estimate these missing values.

# Create interpolation function
f_linear = scipy.interpolate.interp1d(x, y, kind='linear')  # linear
f_cubic = scipy.interpolate.interp1d(x, y, kind='cubic')    # cubic spline
f_quad = scipy.interpolate.interp1d(x, y, kind='quadratic') # quadratic

# Predict missing years
missing_2002_2003 = f_linear(2002)
missing_2015_2016 = f_linear(2015)

print(f"Estimated Three Point Accuracy for 2002-2003 missed season: {missing_2002_2003:.2f}%")
print(f"Estimated Three Point Accuracy for 2015-2016 missed season: {missing_2015_2016:.2f}%")

Estimated Three Point Accuracy for 2002-2003 missed season: 38.46%
Estimated Three Point Accuracy for 2015-2016 missed season: 33.79%

In [ ]:
# ColumnStatsAnalyzer:

In [22]:
# Calculate the statistical mean, variance, skew, and kurtosis for the Field Goals Made (FGM) column.
fgm_mean = sport_reg['FGM'].mean()
fgm_variance = sport_reg['FGM'].var()
fgm_skew = sport_reg['FGM'].skew()
fgm_kurtosis = sport_reg['FGM'].kurtosis()

# Then the same for and the Field Goals Attempted (FGA) column.
fga_mean = sport_reg['FGA'].mean()
fga_variance = sport_reg['FGA'].var()
fga_skew = sport_reg['FGA'].skew()
fga_kurtosis = sport_reg['FGA'].kurtosis()

print ('Statistical Analysis for Field Goals Made (FGM) and Field Goals Attempted (FGA):')
print(f"FGM -> Mean: {fgm_mean:.2f}, Variance: {fgm_variance:.2f}, Skew: {fgm_skew:.2f}, Kurtosis: {fgm_kurtosis:.2f}")
print(f"FGA -> Mean: {fga_mean:.2f}, Variance: {fga_variance:.2f}, Skew: {fga_skew:.2f}, Kurtosis: {fga_kurtosis:.2f}")

# The mean of FGA is much higher than FGM, which makes sense since players attempt more shots than they make. 
# The variance of FGA is also much higher than FGM, indicating that there is more variability in the number of shots attempted compared to shots made.
# The skewness of FGA is higher than FGM, suggesting that there are more players with low attempts and a few players with very high attempts.
# While the skewness of FGM is lower, indicating a more balanced distribution of shots made.

Statistical Analysis for Field Goals Made (FGM) and Field Goals Attempted (FGA):
FGM -> Mean: 311.48, Variance: 25944.08, Skew: 0.77, Kurtosis: 0.15
FGA -> Mean: 679.86, Variance: 118066.75, Skew: 0.73, Kurtosis: 0.12

In [ ]:
# Perform a relational t-test on Field Goals Made (FGM), and Field Goals Attempted (FGA) columns.
t_statistic, p_value = scipy.stats.ttest_rel(sport_reg['FGM'], sport_reg['FGA'])
print(f"T-statistic: {t_statistic:.2f}, P-value: {p_value:.4f}")

# This resulting t-statistic and p-value indicate that there is a statistically significant difference between the number of field goals made and attempted.
# Which can be expected since players typically attempt more shots than they make.

T-statistic: -133.01, P-value: 0.0000

In [ ]:
# Then perform the one-sample t-test to determine if the mean of FGM and FGA are significantly different from their respective population means.
t_statistic_fgm, p_value_fgm = scipy.stats.ttest_1samp(sport_reg['FGM'], fgm_mean)
t_statistic_fga, p_value_fga = scipy.stats.ttest_1samp(sport_reg['FGA'], fga_mean)

print(f"One-sample t-test for FGM -> T-statistic: {t_statistic_fgm:.2f}, P-value: {p_value_fgm:.4f}")
print(f"One-sample t-test for FGA -> T-statistic: {t_statistic_fga:.2f}, P-value: {p_value_fga:.4f}")

# The one-sample t-test results show that the mean of FGM and FGA are significantly different from their respective population means, as indicated by the low p-values. 
# This suggests that the players' performance in terms of shots made and attempted is not due to random chance, and there are significant differences in their shooting performance.

One-sample t-test for FGM -> T-statistic: 0.00, P-value: 1.0000
One-sample t-test for FGA -> T-statistic: 0.00, P-value: 1.0000